<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 추가  -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="오책볼래?"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:exported="true"
            android:label="MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookCategoriesActivity"
            android:theme="@style/Theme.AppCompat.DayNight"
            android:exported="false"
            android:label="" />
        <activity
            android:name=".BookRecommendActivity"
            android:theme="@style/Theme.Material3.DayNight"
            android:exported="false" />
        <!--  DailyTaskReceiver 등록.
              이를 통해 어플이 실행되지 않은 상태여도 인텐트를 수신할 수 있다. -->
        <receiver android:name=".DailyTaskReceiver"/>
    </application>
</manifest>