<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="오책볼래?"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.TodayBooks"
        tools:targetApi="31">
        <activity
            android:name=".BookCategoriesActivity"
            android:exported="false"
            android:label="@string/title_activity_book_categories" />
        <activity
            android:name=".StartPageActivity"
            android:exported="false"
            android:label="StartPageActivity"
            android:theme="@style/Theme.TodayBooks" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="MainActivity"
            android:theme="@style/Theme.TodayBooks">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>